@model Apathy.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Transaction</legend>

    <div class="display-label">Envelope</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Envelope.Title)
    </div>

    <div class="display-label">Amount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionDate)
    </div>

    <div class="display-label">Payee</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Payee)
    </div>

    <div class="display-label">Notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
