@model IEnumerable<Apathy.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

@section Head {
    <link href="@Url.Content("~/Content/tablesorter/style.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#transactions-table").tablesorter({
                headers: {
                    5: { sorter: false }
                }
            });
        });
    </script>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="transactions-table" class="tablesorter">
    <thead>
        <tr>        
            <th>
                Envelope
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th>
                Payee
            </th>
            <th>
                Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Envelope.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TransactionID }) |
                @Html.ActionLink("Details", "Details", new { id=item.TransactionID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TransactionID })
            </td>
        </tr>
    }
    </tbody>
</table>


