@model Apathy.Models.Envelope

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Envelope</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartingBalance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartingBalance)
            @Html.ValidationMessageFor(model => model.StartingBalance)
        </div>
        
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<h2>Current Envelopes</h2>

<div>
    <table>
        <tr>
            <th>
                Envelope
            </th>
            <th>
                Monthly Budget
            </th>
            <th>
                Current Amount
            </th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.Envelopes)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    $@item.StartingBalance
                </td>
                <td>
                    $@item.CurrentBalance
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EnvelopeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EnvelopeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EnvelopeID })
                </td>
            </tr>
        }
    </table>
</div>
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
